{{#each this}}
<li class="beauty-item">
    <img id={{id}} class="beauty-image" src={{image}} alt="">
    <p class="category">{{category}}</p>
    <h2 class="title">{{title}}</h2>
    <p class="date">{{date}}</p>
</li>
{{/each}}