{{#each this}}
<li class="section-item glide__slide"/p>
    <p class="category-in-list">{{category}}</p>
    <img id={{id}} class="section-image" src={{image}} alt="bc">
    <h2 class="title">{{title}}</h2>
    <p class="date">{{date}}</p>
</li>
{{/each}}