{{#each this}}
<div class="popular-now-item pop-slide">
    <img id={{id}} class="popular-now-image" src={{image}} alt="">
    <p class="category">{{category}}</p>
    <h2 class="title">{{title}}</h2>
    <p class="date">{{date}}</p>
</div>
{{/each}}