{{#each this}}
<div class="range-card">
    <p class="category">{{category}}</p>
    {{image}} && <img class="range-img"src="{{image}}" alt="{{title}}">
    <p class="range-title">{{title}}</p>
</div>
{{/each}}
