{{#each this}}
<div class="first-container-item slide">
    <div class="water-image" style="background-image: url('{{image}}');">
    {{!-- <img id={{id}} class="first-cont-image" src={{image}} alt=""> --}}
    <p class="category">{{category}}</p>
    <h2 class="slide-title">{{title}}</h2>
    <p class="slide-text">{{text}}</p>
</div>
{{/each}}