{{#each this}}
<div class="second-section-item">
    <img id={{id}} class="second-section-image" src={{image}} alt="">
    <p class="category">{{category}}</p>
    <h2 class="title">{{title}}</h2>
    <p class="date">{{date}}</p>
</div>
{{/each}}