{{#each this}}
<li class="four-sec-item" style="background-image: url('{{image}}')|| background-color:{{background-color}};">
    <p class="category-black">{{category}}</p>
    <img class="sec4-img" src="{{image1}}" alt="">
    <h2 class="title">{{title}}</h2>
    <h3 class="second-title">{{secondTitle}}</h3>
    <p class="date">{{date}}</p>
</li>
{{/each}} 